body{
    margin: 0;
    padding: 0;
    font: 16px/20px 'Inter', sans-serif;
    font-weight: 400;
    color: #ffffff;
    background-color: #ffffff;
}

a{
    color: #ffffff;
    text-decoration: none;
}

.main-wrapper{
    display: flex;
    flex-direction: column;
    gap: 100px;
    height: 100vh;
    background: url(../CSS/img/main-logo.jpeg) no-repeat center center;
    background-size: cover;
    padding: 48px 40px;
}

.main-header{
    display: flex;
    justify-content: space-between;
}

.main-logo{
    text-transform: uppercase;
}

.main-navigation-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    text-transform: uppercase;
}

.main-navigation-link:hover{
    text-decoration: underline;
}

.logo-container {
    width: 64%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    align-self: center;
}

.logo-img {
    margin: 0 0 24px;
}

.logo-title {
    font-size: 96px;
    line-height: 100px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0;
    margin: 0 0 24px;
    white-space: nowrap;
}

.logo-text {
    font-size: 32px;
    line-height: 40px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 48px;
}

.menu-link-btn {
    padding: 10px 30px;
    border: 1px solid #ffffff;
}
.menu-link-btn:hover {
    background: #ffffff;
    color: #000000;
}

.specialities-holder{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: url(../CSS/img/coffee.jpeg) no-repeat center center;
    background-size: contain;
    color: #000000;
    padding: 144px 166px;
    box-sizing: border-box;
}

.specialities-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.specialities-item {
    width: 352px;
    text-align: end;
    display: flex;
    gap: 16px;
}
.specialities-item-left {
    text-align: start;
}

.specialities-item-right {
    text-align: end;
}

.specialities-title {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin: 0 0 7px;
}

.specialities-text{
    font-size: 12px;
    line-height: 24px;
    margin: 0;
}
.specialities-logo {
    width: 64px;
    height: 64px;
    
}

.booking-wrapper{
    height: 432px;  
    background: url(../CSS/img/booking-bg.jpeg) no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.main-heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 3px;
    margin: 0 0 48px;
    position: relative;
}

.main-heading::after{
    content: '';
    display: block;
    width: 189px;
    height: 1px;
    background-color: #ffffff;
    left: 50%; 
    top: 66px;
    transform: translateX(-50%); 
    position: absolute;
}

.description-txt {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    max-width: 474px;
    text-align: center;
}
 .booking-btn {
    padding: 10px 30px;
    border: 1px solid #ffffff;
    text-transform: uppercase;
 }
 .booking-btn:hover {
    background: #ffffff;
    color: #000000;
 }

 .menu-wrapper {
    background: #EEEEEE;
    padding: 96px 161px;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }