body{
    margin: 0;
    padding: 0;
    font: 16px/20px 'Inter', sans-serif;
    font-weight: 400;
    color: #ffffff;
    background-color: #ffffff;
}

a{
    color: #ffffff;
    text-decoration: none;
}

button {
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-wrapper{
    display: flex;
    flex-direction: column;
    gap: 100px;
    height: 100vh;
    background: url(../CSS/img/main-logo.jpeg) no-repeat center center;
    background-size: cover;
    padding: 48px 40px;
}

.main-header{
    display: flex;
    justify-content: space-between;
}

.main-logo{
    text-transform: uppercase;
}

.main-navigation-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    text-transform: uppercase;
}

.main-navigation-link:hover{
    text-decoration: underline;
}

.logo-container {
    width: 64%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    align-self: center;
}

.logo-img {
    margin: 0 0 24px;
}

.logo-title {
    font-size: 96px;
    line-height: 100px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0;
    margin: 0 0 24px;
    white-space: nowrap;
}

.logo-text {
    font-size: 32px;
    line-height: 40px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 48px;
}

.menu-link-btn {
    padding: 10px 30px;
    border: 1px solid #ffffff;
}
.menu-link-btn:hover {
    background: #ffffff;
    color: #000000;
}

.specialities-holder{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: url(../CSS/img/coffee.jpeg) no-repeat center center;
    background-size: contain;
    color: #000000;
    padding: 144px 166px;
    box-sizing: border-box;
}

.specialities-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.specialities-item {
    width: 352px;
    text-align: end;
    display: flex;
    gap: 16px;
}
.specialities-item-left {
    text-align: start;
}

.specialities-item-right {
    text-align: end;
}

.specialities-title {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin: 0 0 7px;
}

.specialities-text{
    font-size: 12px;
    line-height: 24px;
    margin: 0;
}
.specialities-logo {
    width: 64px;
    height: 64px;
    
}

.booking-wrapper{
    height: 432px;  
    background: url(../CSS/img/booking-bg.jpeg) no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.main-header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    margin: 0 0 48px;
}

.main-heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 3px;
    margin: 0 0 24px;
}

.main-underline{
    width: 189px;
    height: 1px;
    background-color: #ffffff;
    margin: 0 0 24px;
}

.black-line{
    background-color: #000;
}

.main-description-txt {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    max-width: 474px;
    text-align: center;
}
.booking-btn {
    padding: 10px 30px;
    border: 1px solid #ffffff;
    text-transform: uppercase;
}
.booking-btn:hover {
    background: #ffffff;
    color: #000000;
}

.menu-wrapper {
    background: #EEEEEE;
    padding: 96px 161px 30px;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tabs-container {
    margin: 48px 0 96px;
}

.tabs-navigation {
    margin: 0 0 48px;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
    text-transform: uppercase;
}

.tabs-navigation-links {
    color: #000000;
}

.navigation-links:hover {
    text-decoration: underline;
}

.menu-box {
    display: none;
}

.menu-box:target{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.menu-list{
    display: flex;
    flex-direction: column;
    max-height: 465px;
    width: 100%;
    column-count: 2;
    gap: 24px;
}

.menu-item{
    display: flex;
    box-sizing: border-box;
    width: 544px;
    justify-content: space-between;
    gap: 24px;
}

.menu-item-logo{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.menu-item-text-box {
    flex-grow: 2;
}

.menu-item-heading {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    margin: 0;
}

.menu-item-description {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    margin: 0;
}

.menu-item-price {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
}

.active {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.testimonials-wrapper {
    padding: 96px 350px;
    background: url(./img/testimonials.jpeg) no-repeat 50% 50%;
    background-size: cover;
}

.testimonials-carousel{
    min-width: 0;
}

.testimonials-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    margin: 0;
    text-align: center;
    min-width: 0;
}

.testimonial-txt{
    margin: 0;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.testimonials-wrapper .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonials-wrapper .slick-dots li {
    margin: 0 10px;
    cursor: pointer;
}

.testimonials-wrapper .slick-dots button {
    font-size: 0;
    width: 11px;
    height: 13px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    background: transparent;
    margin: 50px 0 0 0;
}

.testimonials-wrapper .slick-dots li.slick-active button {
    background: #ffffff;
}

.news-wrapper {
    padding: 97px 160px;
    background: #EEEEEE;
    color: #000000
}

.news-list {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin: 48px 0 0 0 ;
}

.news-list-item {
    width: 33,33%;
}

.news-pic {
    width: 352px;
    height: 288px;
    object-fit: cover;
    margin: 0 0 24px;
}

.news-heading {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    margin: 0 0 16px;
}

.news-txt {
    line-height: 24px;
    margin: 0 0 24px;
}

.news-link {
    color: #000;
    padding: 0 0 0 20px;
    position: relative;
}

.news-link:hover {
    text-decoration: underline;
}

.news-link::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 0;
    border: 1px solid #000;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.location-box {
    padding: 96px 160px;
    background: url(./img/location-bcg.jpeg) no-repeat 50% 50%;
    background-size: cover;
    position: relative;
    overflow: visible;
}

.location-box::after{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0; left: 0;
        background-color: black;
        opacity: 0.8;
}

.locations-list {
    margin: 48px 0 0 0;
    display: flex;
    justify-content: space-between;
    gap: 187px;
}

.locations-item {
    width: 33,33%;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    flex-direction: column;
}

.location-pic {
    width: 245px;
    height: 239px;
    border-radius: 50%;
    object-fit: cover;
}

.location-heading {
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    text-align: center;
    text-transform: capitalize;
}

.location-text {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    text-align: center;
}

.timetable-location-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.overflow {
    z-index: 3;
}

.subscribe-wrapper {
    background-color: #000000;
    padding: 96px 480px;
}

.subscribe-form {
    display: flex;
    justify-content: center;
    gap: 24px;
    height: 48px;
}

.subscribe-input {
    width: 277px;
    outline: none;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    padding: 5px 15px;
}

.subscribe-btn {
    width: 173px;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    text-transform: uppercase;
}

.subscribe-btn:hover {
    background-color: #ffffff;
    color: #000000;
}

.footer-holder {
    background-color: #000000;
    padding: 48px 160px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.footer-list {
    display: flex;
    justify-content: space-between;
    gap: 48px;
    margin: 0;
}

.footer-list-link {
    text-transform: capitalize;
}

.footer-list-link:hover {
    text-decoration: underline;
}

.socials-list {
    display: flex;
    justify-content: space-between;
    gap: 26px;
    margin: 0;
}

.socials-link {
    padding: 7px;
    border-radius: 50%;
    background-color: rgba(217, 217, 217, 0.1);
}

.socials-link:hover {
    background-color: rgba(217, 217, 217, 0.2);
}

